<h1>Search Analytics</h1>

<h2>Unique Queries</h2>
<p><%= @unique_queries %></p>

<h2>Top Queries</h2>
<ul>
  <% @top_queries.each do |query, count| %>
    <li><%= query %> (<%= count %> searches)</li>
  <% end %>
</ul>

<h2>Your Searches</h2>
<ul>
  <% @user_searches.each do |search| %>
    <li><%= search.query %> (searched on <%= search.created_at %>)</li>
  <% end %>
</ul>