<h1>Search Articles</h1>
<%= form_tag root_path, method: :get, remote: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search articles..." %>
  <%= submit_tag "Search" %>
<% end %>

<div id="articles">
  <%= render @search %>
</div>

<%# <%= will_paginate @search %> %>
